@import url("https://fonts.googleapis.com/css2?family=Inter&family=Merriweather&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  
}


.headerBg {
  background-image: url(./resources/Banner\ Image.png);
  height: 600px;
  width: 1320px;
  margin: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.headerTitle {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.headerDescription {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 95px; /* 131.944% */
}

.sectionOne {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sectionOneTitle {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 60px;
}

.sectionOneDescription {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 72px;
}
.sectionOneCategory {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 10px;
  margin-bottom: 40px;
}
.sectiontwo {
  background-image: url(./resources/Vectorrr.png);
  width: 1320px;
  height: 600px;
  margin: auto;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  gap: 150px;
  padding: 10px;
}
.sectiontwotitle {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 88px; /* 137.5% */
  letter-spacing: 7.04px;
}
.sectiontwoDescription {
  color: rgba(255, 255, 255, 0.8);

  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.joinnow {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  justify-content: left;
  margin-top: 10px;
}
.sectionthree {
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1320px;
  height: 482px;
}
.sectionthreedescription {
}
.joinnow2 {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  border-radius: 8px;
  background: #f00;
  padding: 10px;
}

.sectionOffer{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 30px;
}

.bestOffer{
  color: #F00;
/* text-align: center; */
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.comingSoon{
  color: #070211;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}
.offerSectionDescription{
  color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
}

.offerImage{
  width: 364.844px;
  height: 364.844px;
  flex-shrink: 0;
  
}

.offerCricleSection{
     
  border: 10px solid red ;
  border-radius: 50%;
  padding: 20px;
    
}

.twoZeroTwentyFour{
  color: #F00;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.twoZeroTwentyFourTitle{
  color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
}

.twoZeroTwentyFourImage{
  width: 140px;
height: 140px;
flex-shrink: 0;
}


.funtionalSectionTitle{
  color: #070211;
font-family: Inter;
font-size: 24px;
font-style: normal;
text-align: center;
font-weight: 500;
line-height: normal;
}

.funtionalSectionSubTitle{
  color: #F00;
text-align: center;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: normal;
}

.funtionalSectionSpan{
  color:#070211 ;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.funtionalSectionDescription{
  color: rgba(7, 2, 17, 0.60);
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 32px; /* 160% */
}